/*
    ===========================================================
  ===================================================================
       Stylesheet for DocBook PHP_CompatInfo Manual
  ===================================================================
    ===========================================================

    $Id$
    author - Laurent Laville <pear@laurent-laville.org> aka farell
*/

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div.authorgroup {
  background-image: url(img/created-with-docbook.png);
  background-repeat: no-repeat;
  background-position: top right;
}

div.revhistory table, div.revhistory td  {
  border: none;
}
div.revhistory table {
  background-color: #339900;
}
div.revhistory th  {
  color: #FFF;
}
div.revhistory td  {
  background-color: #EEE;
}

div.funcsynopsisinfo {
  background-color: #EEE;
}

div.example {
}

/* GeSHi (c) Nigel McNie 2004 (http://qbnz.com/highlighter) */
.php {font-family: 'Courier New'; font-size: 1em; }
.php .de1, .php .de2 {font-family: 'Courier New', Courier, monospace; font-weight: normal;}
.php .imp {font-weight: bold; color: red;}
.php .li1 {background: #eeeeee;}
.php .ln-xtra {background: #e0e0e0;}
.php .kw1 {color: #b1b100;}
.php .kw2 {color: #000000; font-weight: bold;}
.php .kw3 {color: #000066;}
.php .co1 {color: #808080; font-style: italic;}
.php .co2 {color: #808080; font-style: italic;}
.php .coMULTI {color: #808080; font-style: italic;}
.php .es0 {color: #000099; font-weight: bold;}
.php .br0 {color: #66cc66;}
.php .st0 {color: #ff0000;}
.php .nu0 {color: #cc66cc;}
.php .me1 {color: #006600;}
.php .me2 {color: #006600;}
.php .re0 {color: #0000ff;}

.xml  {font-family: monospace;}
.xml .imp {font-weight: bold; color: red;}
.xml li {background: #eeeeee; font-family: 'Courier New', Courier, monospace; color: black; font-weight: normal; font-style: normal;}
/* .xml li.li2 {font-weight: bold;} */
.xml .coMULTI {color: #808080; font-style: italic;}
.xml .es0 {color: #000099; font-weight: bold;}
.xml .br0 {color: #66cc66;}
.xml .st0 {color: #ff0000;}
.xml .nu0 {color: #cc66cc;}
.xml .sc0 {color: #00bbdd;}
.xml .sc1 {color: #ddbb00;}
.xml .sc2 {color: #339933;}
.xml .sc3 {color: #009900;}
.xml .re0 {color: #000066;}
.xml .re1 {font-weight: bold; color: black;}
.xml .re2 {font-weight: bold; color: black;}

.css .de1, .css .de2 {color: #000060; font-weight: normal;}
.css  {white-space: nowrap;border: 1px dotted #a0a0a0; font-family: 'Courier New', Courier, monospace; font-size: 110%; background-color: #f0f0f0; margin: 0; line-height: 110%; padding: 0;color: #000099;}
.css a:link {color: #006;}
.css a:hover {background-color: #d6d6e6;}
.css .head {font-family: Verdana, Arial, sans-serif; color: #808080; font-size: 70%; font-weight: bold; background-color: #f0f0ff; border-bottom: 1px solid #d0d0d0; padding: 2px;}
.css .foot {font-family: Verdana, Arial, sans-serif; color: #808080; font-size: 70%; font-weight: bold; background-color: #f0f0ff; border-top: 1px solid #d0d0d0; padding: 2px;}
.css .imp {font-weight: bold; color: red;}
.css li {font-family: 'Courier New', Courier, monospace; color: #000060; background-color: #e0e0e0; padding-bottom: 2px;}
.css .ln-xtra {background: #eeeeee;}
.css .kw1 {color: #000000; font-weight: bold;}
.css .kw2 {color: #993333;}
.css .co1 {color: #a1a100;}
.css .coMULTI {color: #808080; font-style: italic;}
.css .es0 {color: #000099; font-weight: bold;font-weight: normal;}
.css .br0 {color: #66cc66;}
.css .st0 {color: #ff0000;}
.css .nu0 {color: #cc66cc;}
.css .me {1}
.css .re0 {color: #cc00cc;}
.css .re1 {color: #6666ff;}
.css .re2 {color: #3333ff;}

.javascript .de1, .javascript .de2 {font-family: 'Courier New', Courier, monospace; font-weight: normal;}
.javascript  {font-family: monospace;}
.javascript .imp {font-weight: bold; color: red;}
.javascript li {background-color: #eeeeee; font-family: 'Courier New', Courier, monospace; color: black; font-weight: normal; font-style: normal;}
.javascript .ln-xtra {background: #e0e0e0;}
.javascript .kw1 {color: #000066; font-weight: bold;}
.javascript .kw2 {color: #003366; font-weight: bold;}
.javascript .kw3 {color: #000066;}
.javascript .co1 {color: #009900; font-style: italic;}
.javascript .coMULTI {color: #009900; font-style: italic;}
.javascript .es0 {color: #000099; font-weight: bold;}
.javascript .br0 {color: #66cc66;}
.javascript .st0 {color: #3366CC;}
.javascript .nu0 {color: #CC0000;}
.javascript .me1 {color: #006600;}
.javascript .re0 {color: #0066FF;}

.html4strict .de1, .html4strict .de2 {font-family: 'Courier New', Courier, monospace; font-weight: normal;}
.html4strict  {background-color: #eeeeee; font-family: monospace;}
.html4strict .imp {font-weight: bold; color: red;}
.html4strict li {font-family: 'Courier New', Courier, monospace; color: black; font-weight: normal; font-style: normal;}
.html4strict .kw1 {color: #b1b100;}
.html4strict .kw2 {color: #000000; font-weight: bold;}
.html4strict .kw3 {color: #000066;}
.html4strict .coMULTI {color: #808080; font-style: italic;}
.html4strict .es0 {color: #000099; font-weight: bold;}
.html4strict .br0 {color: #66cc66;}
.html4strict .st0 {color: #ff0000;}
.html4strict .nu0 {color: #cc66cc;}
.html4strict .sc0 {color: #00bbdd;}
.html4strict .sc1 {color: #ddbb00;}
.html4strict .sc2 {color: #009900;}

span.term {
  color: navy;
}

code.methodname {
  background-color: #cfc;
}
code.literal {
  color: rgb(0, 102, 0);
  font-weight: bold;
}

pre.php {
  background-color: #EEE;
  padding: 0.9em;
}
pre.programlisting {
  background-color: #EEE;
  padding: 0.9em;
}
div.table table {
  width: 100%;
}
div.table table td {
  vertical-align: top;
}

div.note, div.tip, div.warning, div.caution, div.important {
  background-color: lightyellow;
  border: 2px solid silver;
  margin: 5px 0;
}
div.note td, div.tip td, div.warning td, div.caution td, div.important td {
  font-size: 0.9em;
}

pre.screen {
  border: 1px solid darkgray;
  padding: 1em;
}

div.screenshot {
  border: 1px solid darkgray;
  padding: 1em;
  text-align: center;
}

/*
   Give size to all admonition graphics
   to allow to fix the PNG behavior for IE 5+ (alpha channel)
   See also: pngbehavior.htc
             http://webfx.eae.net/dhtml/pngbehavior/pngbehavior.html
*/
div.note img, div.tip img, div.warning img, div.caution img, div.important img {
  width: 48px;
  height: 48px;
  behavior: url("pngbehavior.htc");
}


h1.title {
  display: none;
}

h3.editor {
  font-weight: normal;
  font-size: 0.8em;
}

p.copyright {
  color: #006600;
}

/*
   callout graphic text-alternative rendering
*/
pre.programlisting img {
  color: white;
  background-color: black;
}

table.pciHeader, table.pciFooter {
  width: 100%;
  border: 0;
  padding: 0;
  spacing: 0;
  background-color: lightgreen;
}
table.pciHeader td {
  vertical-align: bottom;
}
table.pciHeader td h1 {
  text-align: right;
}
table.pciHeader td img {
  text-align: left;
}
table.pciHeader h1 {
  color: #006600;
}
table.pciFooter {
  font-size: 0.7em;
  font-style: italic;
}

/* external link */
a.external {
  background: transparent url(img/external-link.gif) 4px 4px no-repeat;
  padding: 1px 0 1px 16px;
}

/* FAQ list */
tr.toc dl {
  font-size: 12px;
}

tr.question td {
  padding-top: 1em;
  font-weight: bold;
  font-size: 12px;
}

tr.answer {
  font-size: 12px;
}

/* callout list */
div.calloutlist td p, div.calloutlist div.orderedlist, div.calloutlist span.term {
  font-size: 12px;
}

div.variablelist div.itemizedlist {
  font-size: 12px;
}